<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in / Sign Up</title>
    
    <link rel="icon" href="images/top_logo.png" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'">
    <link rel="stylesheet" href="css/login-signup.css">
    <script src="https://kit.fontawesome.com/320f551013.js" crossorigin="anonymous"></script>
    <link rel = "icon" href = 
"images/logo1.png"
        type = "image/x-icon">
        
</head>
<body>
    <div class="container">
      <div class="forms-container">
        <div class="login-signup">
          <form action="/login" class="login-form" method="POST">
            <%- include ("partials/messages") -%>
            <h2 class="title">Login</h2>
            <div class="input-field">
              <i class="fas fa-user"></i><input type="text" name="username" placeholder="Username" id="username" value="<% typeof username != 'undefined' ? username : '' %>" required>
            </div>
            <div class="input-field">
              <i class="fas fa-key"></i><input type="password" name="password" placeholder="Password" id="password" pattern=".{6,}"   required title="6 characters minimum" required>
            </div>
            <input type="submit" class="btn" value="Log In">
             <p class="social-text">Or Login with social platforms</p>
             <div class="social-media">
              <a href="/google" class="social-icon"><i class="fab fa-google"></i></a>
              <a href="/github" class="social-icon"><i class="fab fa-github"></i></a>
              <a href="/linkedin" class="social-icon"><i class="fab fa-linkedin"></i></a>
             </div>
          </form>

          <form action="/signup" class="signup-form" method="POST" onsubmit="return validate1()">
            <h2 class="title">Sign up</h2>
            <div class="input-field">

              <i class="fas fa-user"></i><input type="text" name="username" placeholder="Username" id="username" value="<% typeof username != 'undefined' ? username : '' %>" required>


            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i><input type="email" name="Email" placeholder="Email" id="email" required>
            </div>
            <div class="input-field">

              <i class="fas fa-key"></i><input type="password" name="password" placeholder="Password" id="password" pattern=".{6,}"   required title="6 characters minimum" required>

            </div>
            <input type="submit" class="btn" value="Sign Up">
             <p class="social-text">Or Sign up with social platforms</p>
             <div class="social-media">
              <a href="/google" class="social-icon"><i class="fab fa-google"></i></a>
              <a href="/github" class="social-icon"><i class="fab fa-github"></i></a>
              <a href="/linkedin" class="social-icon"><i class="fab fa-linkedin"></i></a>
             </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>Join us today to learn python in just a few days with our best tutorials and practice the codes!</p>
            <button class="btn transparent" id="signup-btn">Sign up</button>
          </div>
          <img src="/images/login.svg" class="image" alt="">
        </div>

        <div class="panel right-panel">
          <div class="content">
            <h3>Already a user ?</h3>
            <p>Login to continue learning and exploring python with us!</p>
            <button class="btn transparent" id="login-btn">Login</button>
          </div>
          <img src="/images/signup.svg" class="image" alt="">
        </div>
      </div>
    </div>

    <script src="scripts/login-signup.js"></script>
</body>
<script>
  function validate1()
{
verifyEmail();

}
function validate2()
{
verifyEmail();

}
function verifyEmail(){
        var x = document.getElementById('email').value;
        var atpos = x.indexOf("@");
        var dotpos = x.lastIndexOf(".");
        if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) {
            alert("Not a valid e-mail address");
        return false;
        }
       return true;
    }
    
</script>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <title>Node.js & Passport Login App</title>
  </head>
  <body>
    <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Register
          </h1>
          <%- include("partials/messages") -%>
          <form action="/signup" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="username"
                id="username"
                name="username"
                class="form-control"
                placeholder="Enter Name"
                value="<%= typeof username != 'undefined' ? username : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="Email"
                id="Email"
                name="Email"
                class="form-control"
                placeholder="Enter Email"
                value="<%= typeof Email != 'undefined' ? Email : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Create Password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
          </form>
          <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html> -->
